<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desarrollador Web - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <!--Material Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />
    <!-- Selectize css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>
    <!-- Barra navegación -->
    <app-navigation></app-navigation>
    
    <!-- Inicio -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Detalle de Empleo</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Inicio -->

    <!-- Inicio Detalle de Empeleo -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark mb-3">{{currentDetalleLista.nombrePuestoTrabajo}}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="job-detail border rounded p-4">
                        <div class="job-detail-content">
                            <img src="{{currentDetalleLista.logoEmpresa.urlImagen}}" alt="" style="max-width: 55px; max-height: 55px;" class="img-fluid float-left mr-md-3 mr-2 mx-auto d-block">
                            <div class="job-detail-com-desc overflow-hidden d-block">
                                <h4 class="mb-2"><a href="#" class="text-dark">{{currentDetalleLista.nombreEmpresa}}</a></h4>
                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{currentDetalleLista.direccionEmpresa}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-dark mt-4">Descripción del Empleo :</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-detail border rounded mt-2 p-4">
                                <div class="job-detail-desc">
                                    <p class="text-muted mb-3">{{currentDetalleLista.descripcionPuestoTrabajo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>

                <div class="col-lg-4 col-md-5 mt-4 mt-sm-0" >
                    <div class="job-detail border rounded p-4">
                        <h5 class="text-muted text-center pb-2"><i class="mdi mdi-account-check"></i> Información</h5>

                        <div class="job-detail-location pt-4 border-top">
                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-bank text-muted"></i>
                                </div>
                                <input type="hidden" value="{{currentDetalleLista.idPuestoTrabajo}}">
                                <p class="text-muted mb-2">: {{currentDetalleLista.nombreEmpresa}}</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-email text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: {{currentDetalleLista.emailEmpresa}}</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-cellphone-iphone text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: {{currentDetalleLista.telefonoEmpresa}}</p>
                            </div>

                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-currency-usd text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: S/. {{currentDetalleLista.sueldoPuestoTrabajo}}</p>
                            </div>
                            <!-- Considerar experiencia "1 año" como la entrada de datos del back-end (Concatenado) Ejemplo : Experiencia mínima de 'valor'-->
                            <div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-security text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: Experiencia minima de {{currentDetalleLista.experienciaPuestoTrabajo}} años</p>
                            </div>

                            <!--<div class="job-details-desc-item">
                                <div class="float-left mr-2">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </div>
                                <p class="text-muted mb-2">: Hace 2 minutos</p>
                            </div>-->
                        </div>                        
                    </div>

                    <div class="job-detail border rounded mt-4" *ngIf="this.isButtonVisible">
                        <a (click)="Postularempleo()" class="btn btn-primary btn-block">Postular</a>
                    </div> 
                    <p style="color: red; text-align: center; border: none;">{{message}}</p>   
                </div>
            </div>
        </div>
    </section>

    <!-- Inicio del footer -->
    <app-footer></app-footer>

</body>
</html>
