<!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crear nueva contraseña - Kaizen Talent</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="José Soplin Roncal" />
    
        <link rel="shortcut icon" href="/assets/images/favicon.ico">    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />
    
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    </head>

    <body>
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Inicio del contenido -->
        <section class="vh-100" style="background: url('/assets/images/imagenpassword.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="login_page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <h4 class="mb-4">Nueva contraseña</h4>  
                                    </div>
                                    <form class="login-form" [formGroup]="passwordupdateForm" (ngSubmit)="PasswordUpdate()">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-muted">Ingresa tu nueva contraseña.</p>
                                                <div class="form-group position-relative ">
                                                    <label>
                                                        <input name="password" class="form-controlpass" id="password" type="password" onkeyup='check();'
                                                        formControlName="contrasenia"
                                                        [ngClass]="{
                                                        'is-invalid': passwordupdateForm.controls['contrasenia'].invalid && 
                                                                     (passwordupdateForm.controls['contrasenia'].dirty || 
                                                                      passwordupdateForm.controls['contrasenia'].touched) , 
                                                          'is-valid': passwordupdateForm.controls['contrasenia'].valid}">
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('required')">
                                                                No puede dejar este campo vacío
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('minlength')">
                                                                Debe contener al menos 8 caracteres
                                                            </span>
                                                        </div> 
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordnumber')">
                                                                Debe contener al menos un número
                                                            </span>
                                                        </div> 
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passworduppercase')">
                                                                Debe contener al menos una letra mayúscula
                                                            </span>
                                                        </div> 
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordsmallcase')">
                                                                Debe contener al menos una letra minúscula
                                                            </span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordspecialcharacter')">
                                                                Debe contener al menos un carácter especial
                                                            </span>
                                                        </div> 
                                                    </label>
                                                    <br>
                                                    <br>
                                                    <p class="text-muted">Ingresa nuevamente tu nueva contraseña.</p>
                                                    <label>
                                                        <input type="password" class="form-controlpass" name="confirmar_password" id="confirmar_password"  onkeyup='check();'
                                                        formControlName="confirmcontrasenia"> 
                                                        <span class="mensajepass" id='message'></span>
                                                    </label>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary w-100" [disabled]="!passwordupdateForm.valid">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- Fin del contenido-->
    </body>
</html>
