<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión  Empresa – Kaizen Talent</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/stylekaizen.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/Kaizenlogin.css">
    <!-- Favicon Kaizen -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="/index">
                <div class="logo">
                    <img class="logo-size" src="/assets/images/logo.png" alt="Logo Kaizen">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Inicia Sesión.</h3>
                        <p>Ingresa los datos de la empresa para iniciar sesión.</p>
                        <div class="page-links">
                            <a href="/signin/reclutador" class="active">Login</a><a href="/signup/reclutador">Regístrate</a>
                        </div>
                        <!--<div class="alert alert-warning alert-dismissible fade show with-icon" role="alert">
                           Llena tu información para iniciar sesión
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>-->
                        <form [formGroup]="reclutadorloginForm" (ngSubmit)="IngresoLoginR()">
                            <input class="form-control" type="text" name="username" placeholder="Correo electrónico" formControlName="emailUsuario" required>
                            <input class="form-control" type="password" name="password" placeholder="Contraseña" formControlName="contraseñaUsuario" required>
                            <div class="form-button"  routerLinkActive="active" >
                                <button id="submit" type="submit" class="ibtn">Iniciar Sesión</button>
                                
                                <br>
                                <br>
                                <a href="/password">¿Olvidaste tu contraseña?</a>
                                <br>
                                <br>
                                <a href="/signup/reclutador">¿No estás Registrado?, Regístrate aquí</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
