<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión  Empresa – Kaizen Talent</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/stylekaizen.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/Kaizenlogin.css">
    <!-- Favicon Kaizen -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="form-body" id="start">
        <div class="website-logo">
            <a href="/">
                <div class="logo">
                    <img class="logo-size" src="/assets/images/logo.png" alt="Logo Kaizen">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Inicia Sesión.</h3>
                        <p>Ingresa los datos del reclutador para iniciar sesión.</p>
                        <div class="page-links">
                            <a href="/signin/reclutador" class="active">Login</a><a href="/signup/reclutador">Regístrate</a>
                        </div>
                        <form [formGroup]="reclutadorSigninForm" (ngSubmit)="SigninReclutador()">
                            <div class="input-group has-validation">
                                <input class="form-control" (input)="AlertDefault()" type="text" name="emailUsuario" placeholder="Correo electrónico" aria-describedby="emailUsuario" required
                                formControlName="emailUsuario"
                                [ngClass]="{
                                    'is-invalid': reclutadorSigninForm.controls['emailUsuario'].invalid && 
                                                 (reclutadorSigninForm.controls['emailUsuario'].dirty || 
                                                 reclutadorSigninForm.controls['emailUsuario'].touched) , 
                                      'is-valid': reclutadorSigninForm.controls['emailUsuario'].valid}">
                                <div id="emailUsuario" class="invalid-feedback">
                                    <span class="text-danger" *ngIf="reclutadorSigninForm.controls['emailUsuario'].hasError('required')">
                                        No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div id="emailUsuario" class="invalid-feedback">
                                    <span class="text-danger" *ngIf="reclutadorSigninForm.controls['emailUsuario'].hasError('email')">
                                        Correo electrónico no válido
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div class="input-group has-validation">
                                <input class="form-control" (input)="AlertDefault()" type="password" name="contraseñaUsuario" placeholder="Contraseña" aria-describedby="contraseñaUsuario" required
                                formControlName="contraseñaUsuario"
                                [ngClass]="{
                                    'is-invalid': reclutadorSigninForm.controls['contraseñaUsuario'].invalid && 
                                                 (reclutadorSigninForm.controls['contraseñaUsuario'].dirty || 
                                                  reclutadorSigninForm.controls['contraseñaUsuario'].touched) , 
                                      'is-valid': reclutadorSigninForm.controls['contraseñaUsuario'].valid}">
                                <div id="contraseñaUsuario" class="invalid-feedback">
                                    <span class="text-danger" *ngIf="reclutadorSigninForm.controls['contraseñaUsuario'].hasError('required')">
                                        No puede dejar este campo vacío
                                    </span>
                                </div>
                            </div>
                            
                            <ngb-alert [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>

                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn" [disabled]="!reclutadorSigninForm.valid">Iniciar Sesión</button>
                                <br>
                                <br>
                                <a href="/password/request">¿Olvidaste tu contraseña?</a>
                                <br>
                                <br>
                                <a href="/signup/reclutador">¿No estás Registrado?, Regístrate aquí</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>