    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Inicio Tagline -->
        <div class="tagline">
            <div class="container">
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Fin tagline-->

        <!-- Inicio del Menu -->
        <div class="container">
            <!-- Contenedor del logo -->
            <div>
                <a href="/index" class="logo">
                    <img src="/assets/images/logolight.png" alt="" class="logo-light" height="36" />
                    <img src="/assets/images/logo.png" alt="" class="logo-dark" height="36" />
                </a>
            </div>

            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu -->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- Fin del mobile menu-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Menu de navegación -->   
                <ul class="navigation-menu">
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/home/show/all">Empleos</a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">Mi Cuenta</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li (click)="VerPerfil()"><a style="cursor: pointer;">Mi Perfil</a></li>
                            <li><a (click)="direccion()" style="cursor: pointer;">{{redirect}}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="contactanos.html">Contáctanos</a>
                    </li>
                </ul><!--Fin del Menu de navegación -->
            </div><!---->
        </div><!--Fin del container-->
        <!---->
    </header>
