<header id="topnav" class="defaultscroll scroll-active">
        <!-- Inicio Tagline -->
    <div class="tagline">
        <div class="container">
            <div class="clearfix"></div>
        </div>
     </div>
    <!-- Fin tagline-->

    <!-- Inicio del Menu -->
    <div class="container">
         <!-- Contenedor del logo -->
        <div>
            <a href="/index" class="logo">
                <img src="/assets/images/logolight.png" alt="" class="logo-light" height="36" />
                <img src="/assets/images/logo.png" alt="" class="logo-dark" height="36" />
            </a>
        </div>

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu -->
                <a class="navbar-toggle" (click)="toggleState()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- Fin del mobile menu-->
            </div>
        </div>
        
        <!--Falta el id="navigation en class de navbar collapse"-->
        <div class="navbar-collapse"  [ngClass]="{ 'collapse': isCollapse }" >
            <!-- Menu de navegación -->   
            <ul class="navigation-menu navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/show/all">Empleos</a></li>
                <li class="has-submenu nav-item" >
                    <a class="nav-link" href="javascript:void(0)">Mi Cuenta</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li (click)="VerPerfil()"><a class="nav-link" style="cursor: pointer;">Mi Perfil</a></li>
                        <li><a class="nav-link" (click)="direccion()" style="cursor: pointer;">{{redirect}}</a></li>
                    </ul>
                </li>

                <li>
                    <a href="contactanos.html">Contáctanos</a>
                </li>
            </ul><!--Fin del Menu de navegación -->
        </div><!---->
    </div><!--Fin del container-->
    <a (click)="Subirpagina()" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!---->
</header>


