<!--Nuevo codigo-->

<!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crear nueva contraseña - Kaizen Talent</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="José Soplin Roncal" />
    
        <link rel="shortcut icon" href="/assets/images/favicon.ico">    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />
    
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    </head>

    <body>
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="index.html" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Inicio del contenido -->
        <section class="vh-100" style="background: url('/assets/images/imagenpassword.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="login_page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <h4 class="mb-4">Nueva contraseña</h4>  
                                    </div>
                                    <form class="login-form" [formGroup]="passwordformulario" (ngSubmit)="Actualizarcon()">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-muted">Ingresa tu nueva contraseña.</p>
                                                <div class="form-group position-relative ">
                                                    <label>
                                                        <input name="password" class="form-controlpass" formControlName="contraseniavalid" id="password"  type="password" onkeyup='check();' />
                                                    </label>
                                                    <br>
                                                    <br>
                                                    <p class="text-muted">Ingresa nuevamente tu nueva contraseña.</p>
                                                    <label>
                                                        <input type="password" class="form-controlpass" formControlName="contrasenia" name="confirmar_password" id="confirmar_password"  onkeyup='check();' /> 
                                                        <span class="mensajepass" id='message'></span>
                                                    </label>
                                                    <br>
                                                </div>
                                            </div>
                                            <script>
                                                  var check = function() {
                                                    if (document.getElementById('password').value ==
                                                        document.getElementById('confirmar_password').value) {
                                                        document.getElementById('message').style.color = 'green';
                                                        document.getElementById('message').innerHTML = 'Las contraseñas Coinciden';
                                                    } else {
                                                            document.getElementById('message').style.color = 'red';
                                                        document.getElementById('message').innerHTML = 'Ambas contraseñas NO coinciden';
                                                    }
                                                }
                                            </script>
                                            <div class="col-lg-12">
                                                <button class="btn btn-primary w-100">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- Fin del contenido-->

        <!-- javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/plugins.js"></script>

        <!-- selectize js -->
        <script src="js/selectize.min.js"></script>

        <script src="js/jquery.nice-select.min.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>