<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publicar Empleo - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!--Material Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- Selectize CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>
    <!-- Loader -->
    <!--
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    -->
    <!-- Loader -->

    <!-- Barra de navegación -->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Inicio de Tagline -->
        <div class="tagline">
            <div class="container">
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Fin Tagline -->

        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img src="/assets/images/logolight.png" alt="" class="logo-light" height="40" />
                    <img src="/assets/images/logo.png" alt="" class="logo-dark" height="40" />
                </a>
            </div>                 
            <div class="buy-button">
                <a href="post-a-job.html" class="btn btn-primary"><i class="mdi mdi-table-edit"></i> Publicar Empleo</a>
            </div><!--Fin boton Publicar Empleo-->
            <!-- Fin Container Logo -->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu -->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- Fin mobile menu -->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Menu de navegación -->   
                <ul class="navigation-menu">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="listaempleos.html">Empleos</a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">Mi Cuenta</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a href="perfilreclutador.html">Mi Perfil</a></li>
                            <li><a href="mispublicaciones.html">Mis Publicaciones</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="contactanos.html">Contáctanos</a>
                    </li>
                </ul><!--Fin del Menu de navegación -->
            </div><!-- Fin de Navegacion -->
        </div><!--Fin del container-->

    </header><!--Fin header-->
    <!-- Fin Navbar -->
    
    <!-- Inicio -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Publicar Empleo</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Inicio -->

    <!-- Inicio Publicar Empleo -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="rounded shadow bg-white p-4">
                        <div class="custom-form">
                            <div id="message3"></div>
                            <form method="post" action="php/contactanos.php" name="contact-form" id="contact-form3" 
                                  [formGroup]="puestostrabajoform" (ngSubmit)="Publicarempleo()">
                                <h4 class="text-dark mb-3">Publicar Empleo :</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Título del puesto </label>
                                            <input id="company-name" type="text" class="form-control resume" placeholder="" formControlName="nombrePuestoTrabajo">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Tipo de Jornada</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="tpostulacion" placeholder="Tipo de Jordana" 
                                                    formControlName="tipojornadaPuestoTrabajo" >
                                                <datalist id="tpostulacion">
                                                    <option *ngFor="let tpostulacion of TipoPostulacion" value="{{tpostulacion.value}}">{{tpostulacion.text}}</option>                           
                                                </datalist>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Ciudad</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="ciudad" placeholder="Ciudad" 
                                                    formControlName="ciudadPuestoTrabajo" >
                                                <datalist id="ciudad">
                                                    <option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}">{{ciudad.text}}</option>                           
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Sueldo</label>
                                            <input id="city" type="text" class="form-control resume" placeholder="" formControlName="sueldoPuestoTrabajo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Categoría de Empleo</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="categoria" placeholder="Categoría" 
                                                    formControlName="categoriaPuestoTrabajo" >
                                                <datalist id="categoria">
                                                    <option *ngFor="let categoria of Categorias" value="{{categoria.value}}">{{categoria.text}}</option>                           
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Años de Experiencia</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="experiencia" placeholder="Experiencia" 
                                                    formControlName="experienciaPuestoTrabajo" >
                                                <datalist id="experiencia">
                                                    <option *ngFor="let experiencia of Experiencia" value="{{experiencia.value}}" >{{experiencia.text}}</option>                           
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Periodo de Publicación</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="publicacion" placeholder="Tiempo de publicación" 
                                                    formControlName="periodopublicacionPuestoTrabajo" >
                                                <datalist id="publicacion">
                                                    <option *ngFor="let publicacion of Publicacion" value="{{publicacion.value}}" >{{publicacion.text}}</option>                           
                                                </datalist>
                                            </div>
                                        </div> 
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Trabajo Remoto</label>
                                            <div class="form-button">
                                                <input id="select-country"  type="form-control" class="form-control demo-default" list="remoto" placeholder="Trabajo Remoto" 
                                                    formControlName="trabajoremotoPuestoTrabajo" >
                                                <datalist id="remoto">
                                                    <option *ngFor="let remoto of Remoto" >{{remoto.text}}</option>                           
                                                </datalist>
                                            </div>
                                        </div> 
                                    </div>

                                </div>

                                <div class="row">
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Descripción del Empleo</label>
                                            <textarea id="description" rows="6" class="form-control resume" placeholder="" formControlName="descripcionPuestoTrabajo" ></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 mt-2">
                                        <input href="#" class="btn btn-primary" type="submit" value="Publicar Empleo">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Publicar Empleo -->

    <!-- Inicio del footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="/assets/images/logo.png" height="35" alt=""></a>
                    <p class="mt-4">El lugar donde encontrarás tu siguiente empleo.</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/kaizen_talent" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Acerca de nosotros</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Nosotros</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Responsabilidad Social</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Trabaja con nosotros</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Empleos</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="listaempleos.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Postula a un Empleo</a></li>
                        <li><a href="publicarempleo.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Publica un empleo</a></li>
                    </ul>
                </div>
            
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Horario Laboral</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Lunes a Viernes de 8:30 am a 5 pm</li>
                        <li class="mt-2">Sábados: 10:00 am a 3:00 pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin del footer -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2021 Kaizen Talent. Diseñado por José Soplin por parte de Partner Tech.</p>
                    </div>
                </div>
            </div>
        </div><!---->
    </footer><!---->
    <!-- Fin del footer -->
    <!-- Subir -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Fin Subir -->
    

</body>
</html>