
<div *ngFor="let empleo of CurrentLista | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="row"  >
        <div class="col-lg-12">
            <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                <div class="lable text-center pt-2 pb-2">
                    <ul class="list-unstyled best text-white mb-0 text-uppercase">
                        <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                    </ul>
                </div>
                <div class="p-4">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <div class="mo-mb-2">
                                <img src="{{empleo.logoEmpresa.urlImagen}}" alt="" class="img-fluid mx-auto d-block"> 
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <h5 class="f-18"><a href="#" class="text-dark">{{empleo.nombrePuestoTrabajo}}</a></h5>
                                <p class="text-muted mb-0">Este no se que mostrar</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-primary mr-2"></i>{{empleo.ciudadPuestoTrabajo}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <p class="text-muted mb-0 mo-mb-2"><span class="text-primary">S/. </span>{{empleo.sueldoPuestoTrabajo}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <p class="text-muted mb-0">{{empleo.tipojornadaPuestoTrabajo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 bg-light">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experiencia :</span> {{empleo.experienciaPuestoTrabajo}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <p class="text-muted mb-0 mo-mb-2"><span class="text-dark"></span> </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <a [class.active]=" empleo == CurrentDetalleLista" (click)="Seleccionarempleo(empleo)" (click)="verDetalle()" class="text- primary">Ver detalle <i class="mdi mdi-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div style="text-align: center;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls> 
</div>