<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Empleos - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!-- Material Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- Selectize Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>

    <!-- Barra de navegación-->
    <app-navigation></app-navigation>

     <!-- Inicio del home -->
     <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Lista de Empleos</h4>
                        <!-- <ul class="page-next d-inline-block mb-0">
                            <li><a href="index.html" class="text-uppercase font-weight-bold"> :v </a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold"> :v </a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold"> :v </span> 
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin del home -->
    <form class="registration-form" [formGroup]="BusquedaParametros" (ngSubmit)="BusquedaPorParametros()">

    <div class="container">
        <div class="home-form-position">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="home-registration-form job-list-reg-form bg-light shadow p-4 mb-3">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="registration-form-box">
                                        <i class="fa fa-briefcase"></i>
                                        <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Palabras Clave" 
                                         formControlName="palabraClave" name="palabraClave" [(ngModel)]="CurrentDatos.puestotrabajo">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="registration-form-box">
                                        <i class="fa fa-location-arrow"></i>                                                  
                                        <input type="form-control" class="form-control rounded registration-input-box" list="ciudad" name="ciudad" placeholder="Ciudad" 
                                               formControlName="ciudadUsuario" [(ngModel)]="CurrentDatos.ciudad">
                                        <datalist id="ciudad">
                                            <option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}">{{ciudad.text}}</option>       
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="registration-form-box">
                                        <i class="fa fa-list-alt"></i>                                                    
                                        <input type="form-control" class="form-control rounded registration-input-box" list="Categorias" name="Categorias" placeholder="Categorias"
                                               formControlName="categoriaUsuario" [(ngModel)]="CurrentDatos.categoria" >
                                        <datalist id="Categorias">
                                            <option *ngFor="let categoria of Categorias" value="{{categoria.value}}">{{categoria.text}}</option>       
                                        </datalist>
                                    </div>
                                </div>                                                                
                                
                                <div class="col-lg-3 col-md-6">
                                    <div class="registration-form-box">
                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Buscar Empleos">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inicio de lista de trabajos -->
    <section class="section pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Lista de Empleos</h4>
                        <!-- <p class="text-muted para-desc mx-auto mb-1">Descripción Kaizen</p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="accordion" id="accordionExample">
                            <div class="card rounded mt-4">
                                <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="card-header" id="headingOne">
                                        <h6 class="mb-0 text-dark f-18">Fecha de publicación</h6>
                                    </div>
                                </a>                                
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" > 
                                    <div class="card-body p-0" >
                                        <div class="custom-control custom-radio" *ngFor="let publicacion of PeriodoPublicaciones">
                                            <input type="radio" id="{{publicacion.selector}}"  name="tiempoUsuario" class="custom-control-input" value="{{publicacion.value}}">
                                            <label class="custom-control-label ml-1 text-muted" for="{{publicacion.selector}}">{{publicacion.text}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Filtro 1 -->
                            
                            <div class="card rounded mt-4">
                                <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                                    <div class="card-header" id="headingthree">
                                        <h6 class="mb-0 text-dark f-18">Experiencia</h6>
                                    </div>
                                </a>
                                <div id="collapsethree" class="collapse show" aria-labelledby="headingthree" > 
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio" *ngFor="let exp of Experiencias" > 
                                            <input type="radio" class="custom-control-input" id="{{exp.selector}}" name="expUsuario" value="{{exp.value}}" (change)="RBexperienceChange($event)" >
                                            <label class="custom-control-label ml-1 text-muted f-15" for="{{exp.selector}}">{{exp.text}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <button class="btn btn-alert" (click)="EliminarFiltros()">Eliminar Filtros</button>
                </div>
                
                <div class="col-lg-9 mt-4 pt-2">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="show-results">
                                <div class="float-left">
                                    <h5 class="text-dark mb-0 pt-2 f-18">Mostrando lista de Empleos:</h5>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-lg-12 mt-4 pt-2"  *ngFor="let empleo of CurrentEmpleo | paginate: { itemsPerPage: 5, currentPage: p }">
                            <div class="job-list-box border rounded">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="company-logo-img">
                                                <img src="{{empleo.logoEmpresa.urlImagen}}" alt="" class="img-fluid mx-auto d-block">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-9">
                                            <div class="job-list-desc">
                                                <h6 class="mb-2"><a href="#" class="text-dark">{{empleo.nombrePuestoTrabajo}}</a></h6>
                                                <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>{{empleo.tituloPuestoTrabajo}}</p>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item mr-3">
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{empleo.direccionEmpresa}} </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="job-list-button-sm text-right">
                                                <span class="badge badge-success">{{empleo.tipojornadaPuestoTrabajo}}</span>

                                                <div class="mt-3">
                                                    <a [class.active] = "empleo == CurrentDetalleLista" (click)="Seleccionarempleo(empleo)" (click)="verDetalle()" class="btn btn-sm btn-primary">Ver Detalle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                        <div>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    </form>
    
</body>

</html>