<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!--Material Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- Selectize css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />

    <!--Slider-->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.css" />
    <link rel="stylesheet" href="/assets/css/owl.transitions.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />

</head>

<body>
    
    
    <!-- Barra de navegación-->
    <header id="topnav" class="defaultscroll scroll-active">
        <!-- Inicio Tagline -->
        <div class="tagline">            
            <div class="container">
                <div class="clearfix"></div>
            </div>

        </div>
        <!-- Fin Tagline-->

        <!-- Inicio Menú -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img src="assets/images/logolight.png" alt="" class="logo-light" height="40" />
                    <img src="assets/images/logo.png" alt="" class="logo-dark" height="40" />
                </a>
            </div>
            <div class="buy-button">
                <a href="loginreclutador.html" class="btn btn-primary"><i class="mdi mdi-table-edit"></i> Publicar Empleo </a>
            </div> 
            <div class="buy-button">
                <a href="loginpostulante.html" class="btn btn-primary"><i class="mdi mdi-cloud-upload"></i> Subir mi CV </a>
            </div><!--Fin boton Cv-->
            <!-- Fin del container del logo-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu -->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- Fin del mobile menu-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Menú de Navegación-->   
                <ul class="navigation-menu">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="listaempleos.html">Empleos</a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">Mi Cuenta</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a href="perfilcandidato.html">Mi Perfil</a></li>
                            <li><a href="mispostulaciones.html">Mis Postulaciones</a></li>
                            <li><a href="perfilreclutador.html">Perfil Reclutador</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="contactanos.html">Contáctanos</a>
                    </li>
                </ul><!--Fin del Menú de navegación-->
            </div><!--Fin de la navegación-->
        </div><!--Fin del container-->
        <!---->
    </header><!--Fin del header-->
    <!-- Fin del Navbar -->

    <!-- Inicio del Home -->
    <section class="bg-home" style="background: url('/assets/images/portada6.jpg') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <!--
                                <h6 class="small-title text-uppercase text-light mb-3">Kaizen Talent.</h6>
                                -->
                                <h1 class="heading font-weight-bold mb-4">Encuentra empleo en un click</h1>
                            </div>
                        </div>
                    </div>
                    
                    <div class="home-form-position">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="home-registration-form p-4 mb-3">
                                    <form class="registration-form" [formGroup]="busquedaForm" (ngSubmit)="empezarBusqueda()" >
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-briefcase"></i>
                                                    <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Palabras Clave" formControlName="palabraClave">
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-location-arrow"></i>
                                                    <input id="select-country"  type="form-control" class="form-control demo-default" list="ciudad" placeholder="Ciudad" 
                                                    formControlName="ciudadUsuario" >
                                                    <datalist id="ciudad">
                                                        <option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}">{{ciudad.text}}</option>                           
                                                    </datalist>                                                                    
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-list-alt"></i>
                                                    <input id="select-country"  type="form-control" class="form-control demo-default" list="categoria" placeholder="Categoría" 
                                                    formControlName="categoriaUsuario" >
                                                    <datalist id="categoria">
                                                        <option *ngFor="let categoria of Categorias" value="{{categoria.value}}">{{categoria.text}}</option>                           
                                                    </datalist>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Buscar Empleos">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin del Home -->

    <!-- Inicio Empleos -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Empleos</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Te mostramos distintos trabajos que tenemos disponibles para ti.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center mt-4 pt-2">
                    <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link rounded active" id="recent-job-tab" data-toggle="pill"  role="tab" aria-controls="recent-job" (click)="getListaempleos()" aria-selected="true">Recientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" id="part-job-tab" data-toggle="pill"  role="tab" aria-controls="part-job" (click)="getListaempleospart()" aria-selected="false">Part Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" id="full-job-tab" data-toggle="pill"  role="tab" (click)="getListaempleosfull()" aria-controls="full-job" aria-selected="false">Full Time</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                    <div class="tab-content mt-2" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="recent-job" role="tabpanel" *ngFor="let empleo of CurrentLista | paginate: { itemsPerPage: 5, currentPage: p }"  aria-labelledby="recent-job-tab">
                            <div class="row" >
                                <div class="col-lg-12">
                                    <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                        <div class="lable text-center pt-2 pb-2">
                                            <ul class="list-unstyled best text-white mb-0 text-uppercase">
                                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="{{empleo.logoEmpresa.urlImagen}}" alt="" class="img-fluid mx-auto d-block"> 
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">{{empleo.nombrePuestoTrabajo}}</a></h5>
                                                        <p class="text-muted mb-0">Este no se que mostrar</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-primary mr-2"></i>{{empleo.ciudadPuestoTrabajo}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-primary">S/. </span>{{empleo.sueldoPuestoTrabajo}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">{{empleo.tipojornadaPuestoTrabajo}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experiencia :</span> {{empleo.experienciaPuestoTrabajo}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark"></span> </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a [class.active]=" empleo == CurrentDetalleLista" (click)="Seleccionarempleo(empleo)" (click)="verDetalle()" class="text- primary">Ver detalle <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 20%; margin-top: 40px;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls> 
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <!-- Fin container -->
    </section>
    <!-- Fin Empleos -->

    <!-- ¿Cómo Funciona? -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">¿Cómo Funciona?</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Encuentra tu empleo ideal en tres simples pasos.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-4 pt-2">
                    <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                        <div class="how-it-work-img position-relative rounded-pill mb-3">
                            <img src="assets/images/comofunciona1.png" alt="" class="mx-auto d-block" height="50">
                        </div>
                        <div>
                            <h5>Regístrate</h5>
                            <p class="text-muted">Llena tus datos y crea una cuenta.</p>
                            <a href="" class="text-primary" data-toggle="modal" data-target="#modalKaizen">Aprende más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4 pt-2">
                    <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                        <div class="how-it-work-img position-relative rounded-pill mb-3">
                            <img src="assets/images/comofunciona2.png" alt="" class="mx-auto d-block" height="50">
                        </div>
                        <div>
                            <h5>Busca tu empleo ideal</h5>
                            <p class="text-muted">Busca entre cientos de empleos que tenemos disponibles para ti.</p>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#modalKaizen">Aprende más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4 pt-2">
                    <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                        <div class="how-it-work-img position-relative rounded-pill mb-3">
                            <img src="assets/images/comofunciona3.png" alt="" class="mx-auto d-block" height="50">
                        </div>
                        <div>
                            <h5>Postula</h5>
                            <p class="text-muted">Postula entre los cientos de empleos que tenemos disponibles para ti.</p>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#modalKaizen">Aprende más <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>                    
                      <!-- Modal -->
                      <div class="modal fullscreen-modal fade" id="modalKaizen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title w-100 text-center" id="exampleModalLabel">¿Cómo Funciona?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mitad1">
                                        <img class="w-100" src="assets/images/logo.png">
                                    </div>
                                    <div class="mitad2">
                                        <p>Con Kaizen Talent Encuentra tu empleo ideal en un click</p> 
                                        <p>Solo regístrate y completa tus datos, te mostraremos distintos empleos,especialmente seleccionados para ti.</p> 
                                        <p>Postula a los cientos de empleos disponibles que tenemos para ti.</p> 
                                    </div>
                                  </form>                              
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </section>
    <!-- Fin ¿Como Funciona? -->


    <!-- Inicio Aliados -->
    <section class="section bg-light">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Nuestros Clientes</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Estas son nuestras empresas aliadas.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="popu-category-box col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <a href="http://kaizen-talent.com/">
                    <img src="assets/images/logo.png" height="50" alt=""> </a>
                </div>
                <div class="popu-category-box col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <a href="http://www.partnertech.pe/">
                    <img src="assets/images/logopt.png" height="50" alt=""></a>
                </div>
                <div class="popu-category-box col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                    <a href="http://lugerasociados.com/">
                    <img src="assets/images/luger.png" height="80" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Aliados -->

    <!-- Inicio Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="assets/images/logo.png" height="35" alt=""></a>
                    <p class="mt-4">El lugar donde encontrarás tu siguiente empleo.</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/kaizen_talent" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Acerca de nosotros</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Nosotros</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Responsabilidad Social</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Trabaja con nosotros</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Empleos</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="listaempleos.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Postula a un Empleo</a></li>
                        <li><a href="loginreclutador.html" class="text-foot"><i class="mdi mdi-chevron-right"></i> Publica un empleo</a></li>
                    </ul>
                </div>
            
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Horario Laboral</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Lunes a Viernes de 8:30 am a 5 pm</li>
                        <li class="mt-2">Sábados: 10:00 am a 3:00 pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Linea del Footer -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2021 Kaizen Talent. Diseñado por José Soplin por parte de Partner Tech.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--Fin del footer-->
    <!-- Fin de la linea del footer -->

    <!-- Volver arriba -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Volver arriba -->
</body>
</html>