<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi Perfil - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />
    

</head>

<body id="start">

    <app-navigation></app-navigation>
    
    <!-- Inicio Perfil -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="candidates-profile-details text-center">
                        <div class="col-md-12 mb-4">
                            <div class="profile-pic-div" >
                                <img src="{{basicInfo.imagen}}" id="photo">
                                <form [formGroup]="postulantebasicinfoupdateForm">
                                    <input type="file" id="file" formControlName="imagenUsuario" (change)="GuardarFoto($event)">
                                    <label for="file" (click)="LoadPage()" id="uploadBtn">Seleccionar Foto</label>
                                </form>
                                
                              </div>
                              <br><br><br><br><br>
                              <h5 class="text-white mb-2"><a href="{{basicInfo.archivocvPostulante}}" download="{{basicInfo.archivocvPostulante}}" style="color: white;" data-toggle="tooltip" data-placement="right" title=" Haz Click para descargar tu CV">{{basicInfo.nombrePostulante}}</a></h5>
                              <p class="text-white-50 h6 mb-2">{{basicInfo.tituloPostulante}}</p>
                        </div>

                        <!-- Boton Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalKaizenpostulante">
                            Editar perfil
                        </button>
                            <br>
                            <br>
                            <label class="btn btn-warning" for="my-file-selector">
                                <input id="my-file-selector" (click)="LoadPage()" (change)="GuardarCV($event)" type="file" style="display:none" accept=".pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                ><i class="fas fa-cloud-upload-alt"></i>
                                 Sube tu CV
                            </label>
                            <span class='label label-info' id="upload-file-info"></span>
                        <br>
                        <br>
                        <div class="col-md-12 mb-4">
                            <a [routerLink]="" (click)="PasswordRequest()" class="btn btn-info"><i class="fas fa-unlock-alt"></i>  Editar Contraseña</a>
                        </div>
                        
                        <!-- Modal Corregido -->
                        <form [formGroup]="postulantebasicinfoupdateForm" (ngSubmit)="updateBasicInfo()">
                            <div class="modal fullscreen-modal fade" id="modalKaizenpostulante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Editar Perfil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="descripcionUsuario">Mi Perfil</label>                                                
                                                <textarea class="form-control" id="descripcionUsuario" rows="3"
                                                formControlName="descripcionUsuario"
                                                [ngClass]="{
                                                    'is-invalid': postulantebasicinfoupdateForm.controls['descripcionUsuario'].invalid && 
                                                                 (postulantebasicinfoupdateForm.controls['descripcionUsuario'].dirty || 
                                                                  postulantebasicinfoupdateForm.controls['descripcionUsuario'].touched) , 
                                                              '': postulantebasicinfoupdateForm.controls['descripcionUsuario'].valid}"
                                                [ngModel]="basicInfo.descripcionPostulante"></textarea>
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="postulantebasicinfoupdateForm.controls['descripcionUsuario'].hasError('minlength')">
                                                        Debe contener al menos 5 caracteres 
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputLabel" class="col-sm-2 col-form-label">Cargo</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputLabel" placeholder="Ingresa tu Cargo"
                                                    formControlName="tituloUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': postulantebasicinfoupdateForm.controls['tituloUsuario'].invalid && 
                                                                     (postulantebasicinfoupdateForm.controls['tituloUsuario'].dirty || 
                                                                      postulantebasicinfoupdateForm.controls['tituloUsuario'].touched) , 
                                                                  '': postulantebasicinfoupdateForm.controls['tituloUsuario'].valid}"
                                                    [ngModel]="basicInfo.tituloPostulante">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="postulantebasicinfoupdateForm.controls['tituloUsuario'].hasError('minlength')">
                                                            Debe contener al menos 3 caracteres 
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputAddress" class="col-sm-2 col-form-label">Dirección</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputAddress" placeholder="Ingresa tu Dirección"
                                                    formControlName="direccionUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': postulantebasicinfoupdateForm.controls['direccionUsuario'].invalid && 
                                                                     (postulantebasicinfoupdateForm.controls['direccionUsuario'].dirty || 
                                                                      postulantebasicinfoupdateForm.controls['direccionUsuario'].touched) , 
                                                                  '': postulantebasicinfoupdateForm.controls['direccionUsuario'].valid}"
                                                    [ngModel]="basicInfo.direccionPostulante">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="postulantebasicinfoupdateForm.controls['direccionUsuario'].hasError('minlength')">
                                                             Debe contener al menos 5 caracteres 
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputphone" class="col-sm-2 col-form-label">Teléfono</label>
                                                <div class="col-sm-10">
                                                    <input type="tel" class="form-control" id="inputphone" placeholder="Ingresa tu número de teléfono"
                                                    formControlName="telefonoUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': postulantebasicinfoupdateForm.controls['telefonoUsuario'].invalid && 
                                                                     (postulantebasicinfoupdateForm.controls['telefonoUsuario'].dirty || 
                                                                      postulantebasicinfoupdateForm.controls['telefonoUsuario'].touched) , 
                                                                  '': postulantebasicinfoupdateForm.controls['telefonoUsuario'].valid}"
                                                    [ngModel]="basicInfo.telefonoPostulante">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="postulantebasicinfoupdateForm.controls['telefonoUsuario'].hasError('min')">
                                                             Debe contener como mínimo 7 dígitos
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="postulantebasicinfoupdateForm.controls['telefonoUsuario'].hasError('max')">
                                                             Debe contener como máximo 9 dígitos
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>  
                        <!-- Fin Modal Corregido -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Perfil -->

    <!-- Inicio Contenido -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark">Mi Perfil :</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-3">
                    <div class="border rounded p-4">

                      <p class="sub-title text-muted" [innerHTML]="basicInfo.descripcionPostulante">  </p>

                        <ul class="list-inline pt-3 border-top mb-0">
                            <li class="list-inline-item mr-3">
                                <a class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{basicInfo.direccionPostulante}}</a>
                            </li>

                            <li class="list-inline-item mr-3">
                                <a class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>{{basicInfo.emailPostulante}}</a>
                            </li>

                            <li class="list-inline-item mr-3">
                                <a class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>{{basicInfo.telefonoPostulante}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>                     

            <app-estudios></app-estudios>
            <app-experiencia-laboral></app-experiencia-laboral>
         
            
      
        </div>
    </section>
    <!-- Fin Perfil --> 
    
    <app-footer></app-footer>


    <!-- Volver Arriba -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Volver Arriba -->
</body>
</html>
