<!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recupera tu contraseña - Kaizen Talent</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="José Soplin Roncal" />
    
        <link rel="shortcut icon" href="/assets/images/favicon.ico">    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />
    
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    </head>

    <body>
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Inicio del contenido -->
        <section class="vh-100" style="background: url('/assets/images/imagenpassword.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="login_page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <h4 class="mb-4">Recupera tu Cuenta</h4>  
                                    </div>
                                    <form class="login-form" [formGroup]="passwordrequestForm" (ngSubmit)="PasswordResetRequest()">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-muted">Por favor ingresa tu correo electrónico, recibirás un enlace para reestablecer tu contraseña.</p>
                                                <div class="form-group position-relative">
                                                    <label>Correo electrónico <span class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" name="emailUsuario" required
                                                    formControlName="emailUsuario"
                                                    [ngClass]="{
                                                        'is-invalid': passwordrequestForm.controls['emailUsuario'].invalid && 
                                                                     (passwordrequestForm.controls['emailUsuario'].dirty || 
                                                                      passwordrequestForm.controls['emailUsuario'].touched) , 
                                                          'is-valid': passwordrequestForm.controls['emailUsuario'].valid}">
                                                          <div id="emailUsuario" class="invalid-feedback">
                                                              <span class="text-danger" *ngIf="passwordrequestForm.controls['emailUsuario'].hasError('required')">
                                                                  No puede dejar este campo vacío
                                                              </span>
                                                          </div>
                                                          <div id="emailUsuario" class="invalid-feedback">
                                                              <span class="text-danger" *ngIf="passwordrequestForm.controls['emailUsuario'].hasError('email')">
                                                                  Correo electrónico no válido
                                                              </span>
                                                          </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary w-100" [disabled]="!passwordrequestForm.valid">Enviar</button>
                                        </div>
                                        <br>
                                        <p>
                                            <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
                                        </p>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </body>
</html>

