<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Regístrate - Kaizen Talent">
    <meta name="author" content="José Soplin Roncal">
    <title>Regístrate | Kaizen Talent</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- Css Base -->
    <!--<link href="/assets/css/bootstrap.min.css" rel="stylesheet">!-->
	<link href="/assets/css/menu.css" rel="stylesheet">
    <link href="/assets/css/styleregistro.css" rel="stylesheet">
	<link href="/assets/css/vendors.css" rel="stylesheet">
</head>

<body>	

	<!-- Contenedor lado izquierdo -->
	
	<div class="container-fluid">
	    <div class="row row-height">
	        <div class="col-xl-4 col-lg-4 content-left">
	            <div class="content-left-wrapper">
	                <a href="index.html" id="logo"><img src="/assets/images/logolight.png" alt="" width="145" height="45"></a>
	                <div id="social">
	                    <ul>
	                        <li><a href="#"><i class="icon-facebook"></i></a></li>
	                        <li><a href="https://www.instagram.com/kaizen_talent" target="_blank"><i class="icon-instagram"></i></a></li>
	                    </ul>
	                </div>
	                <!-- /social -->
	                <div>
	                    <figure><img src="/assets/images/infografia.svg" alt="" class="img-fluid" width="270" height="270"></figure>
	                    <h2>Regístrate</h2>
	                    <p>Regístrate en Kaizen Talent para acceder a cientos de empleos.</p>
	                </div>
	                <div class="copy">© 2021 Kaizen Talent</div>
	            </div>
	            <!-- Fin del contenedor izquierdo -->
	        </div>
	        <!-- Barra superior wizard -->
	        <div class="col-xl-8 col-lg-8 content-right" id="start">
	            <div id="wizard_container">
	                <div id="top-wizard">
	                    <span id="location"></span>
	                    <div id="progressbar"></div>
	                </div>
	                <!-- Fin Barra superior wizard -->
	                <form id="wrapped" name="postulantesignupForm" [formGroup]="postulantesignupForm" (ngSubmit)="guardarPostulante()"
                    method="post" enctype="multipart/form-data">
	                    <input id="website" name="website" type="text" value="">
	                    <!-- No modificar -->
	                    <div id="middle-wizard">
	                        <div class="step">
	                            <h2 class="section_title">Registro</h2>
	                            <h3 class="main_question">Completa los siguientes campos</h3>
	                            <div class="form-group add_top_30">
	                                <label for="nombreUsuario">Nombres</label>
	                                <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control required"
                                    formControlName="nombreUsuario"
									[ngClass]="{
										'is-invalid': postulantesignupForm.controls['nombreUsuario'].invalid && 
									                 (postulantesignupForm.controls['nombreUsuario'].dirty || 
													  postulantesignupForm.controls['nombreUsuario'].touched) , 
										  'is-valid': postulantesignupForm.controls['nombreUsuario'].valid}">
									<div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['nombreUsuario'].hasError('required')">
                                            No puede dejar este campo vacío
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span  class="text-danger" *ngIf="postulantesignupForm.controls['nombreUsuario'].hasError('minlength')">
                                            Debe contener al menos 2 caracteres
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['nombreUsuario'].hasError('maxlength')">
                                            Debe contener como maximo 50 caracteres
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['nombreUsuario'].hasError('pattern')">
                                            Caracteres no permitidos
                                        </span>
                                    </div>
	                            </div>
								
								<div class="form-group">
	                                <label for="apellidoUsuario">Apellidos</label>
	                                <input type="text" name="apellidoUsuario" id="apellidoUsuario" class="form-control required"
                                    formControlName="apellidoUsuario"
									[ngClass]="{
										'is-invalid': postulantesignupForm.controls['apellidoUsuario'].invalid && 
									                  (postulantesignupForm.controls['apellidoUsuario'].dirty || 
													  postulantesignupForm.controls['apellidoUsuario'].touched) , 
										  'is-valid': postulantesignupForm.controls['apellidoUsuario'].valid}">
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['apellidoUsuario'].hasError('required')">
                                            No puede dejar este campo vacío
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['apellidoUsuario'].hasError('minlength')">
                                            Debe contener al menos 2 caracteres
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['apellidoUsuario'].hasError('maxlength')">
                                            Debe contener como maximo 50 caracteres
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['apellidoUsuario'].hasError('pattern')">
                                            Caracteres no permitidos
                                        </span>
                                    </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="emailUsuario">Correo electrónico</label>
	                                <input type="text" (input)="escribir()" name="emailUsuario" id="emailUsuario" class="form-control required"
                                    formControlName="emailUsuario"
									[ngClass]="{
										'is-invalid': postulantesignupForm.controls['emailUsuario'].invalid && 
									                  (postulantesignupForm.controls['emailUsuario'].dirty || 
													  postulantesignupForm.controls['emailUsuario'].touched) , 
										  'is-valid': postulantesignupForm.controls['emailUsuario'].valid}">
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['emailUsuario'].hasError('required')">
                                            No puede dejar este campo vacío
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['emailUsuario'].hasError('email')">
                                            Correo electrónico no válido
                                        </span>
                                    </div>
	                            </div>
								<div class="form-group">
	                                <label for="contraseñaUsuario">Contraseña</label>
	                                <input type="password" id="contraseñaUsuario" class="form-control required"
                                    formControlName="contraseñaUsuario"
									[ngClass]="{
										'is-invalid': postulantesignupForm.controls['contraseñaUsuario'].invalid && 
									                  (postulantesignupForm.controls['contraseñaUsuario'].dirty || 
													  postulantesignupForm.controls['contraseñaUsuario'].touched) , 
										  'is-valid': postulantesignupForm.controls['contraseñaUsuario'].valid}">
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('required')">
                                            No puede dejar este campo vacío
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('minlength')">
                                            Debe contener al menos 8 caracteres
                                        </span>
                                    </div> 
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('passwordnumber')">
                                            Debe contener al menos un número
                                        </span>
                                    </div> 
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('passworduppercase')">
                                            Debe contener al menos una letra mayúscula
                                        </span>
                                    </div> 
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('passwordsmallcase')">
                                            Debe contener al menos una letra minúscula
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="postulantesignupForm.controls['contraseñaUsuario'].hasError('passwordspecialcharacter')">
                                            Debe contener al menos un carácter especial
                                        </span>
                                    </div> 
	                            </div>
								<label>Género</label>
								<div class="form-group radio_input">
								    <label class="container_radio mr-3" *ngFor="let sexos of Sexos"> {{sexos.text}}
								        <input type="radio" name="generoUsuario" value="{{sexos.text}}"
                                        formControlName="generoUsuario" class="required">
								        <span class="checkmark"></span>
								    </label>
								</div>
								<label for="">fecha nacimiento</label>
							
	                            <div class="form-group add_bottom_30 add_top_20">
	                                <label>Sube tu Currículum<br><small>(Archivos aceptados: .pdf, .doc/docx - Máximo tamaño : 3MB)</small></label>
	                                <div class="fileupload">
	                                    <input type="file" accept=".pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                        formControlName="imagenUsuario"
										(change)="seleccionarArchivoCV($event)">
	                                </div>
	                            </div>
	                        </div>
							<!---->
							<div class="submit step" id="end">
	                            <h2 class="section_title">Cuéntanos de ti</h2>
								<h3 class="main_question">Completa los siguientes campos</h3>
								<div class="form-group add_top_30">
									<div class="styled-select">

										<input type="form-control required" class="form-control rounded registration-input-box" list="ciudad" name="ciudad" placeholder="Ciudad" formControlName="ciudadUsuario" >
										<datalist id="ciudad">
											<option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}">{{ciudad.text}}</option>       
										</datalist>

								    </div>
                                </div>
								<div class="form-group add_top_20">
									<div class="styled-select">
										<select class="form-control required" id="tipodocumentoUsuario" name="tipodocumentoUsuario" 
										formControlName="tipodocumentoUsuario">
											<option value="">Selecciona su tipo de documento</option>
											<option *ngFor="let tipodocumento of TiposDocumento" value="{{tipodocumento.value}}">{{tipodocumento.text}}</option>
										</select>
									</div>
								</div>
								<div class="form-group add_top_20">
									<label for="numerodocumentoUsuario">Número de Documento</label>
	                                <input type="number" (input)="escribir()" id="numerodocumentoUsuario" class="form-control required"
									formControlName="numerodocumentoUsuario"
									[ngClass]="{
										'is-invalid': postulantesignupForm.controls['numerodocumentoUsuario'].invalid && 
									                  (postulantesignupForm.controls['numerodocumentoUsuario'].dirty || 
													  postulantesignupForm.controls['numerodocumentoUsuario'].touched) , 
										  'is-valid': postulantesignupForm.controls['numerodocumentoUsuario'].valid}">
									<div class="invalid-feedback">
										<span class="text-danger" *ngIf="postulantesignupForm.controls['numerodocumentoUsuario'].hasError('required')">
											No puede dejar este campo vacío
										</span>
									</div>
									<div class="invalid-feedback">
										<span class="text-danger" *ngIf="postulantesignupForm.controls['numerodocumentoUsuario'].hasError('min')">
											Debe contener como mínimo 8 dígitos
										</span>
									</div>
									<div class="invalid-feedback">
										<span class="text-danger" *ngIf="postulantesignupForm.controls['numerodocumentoUsuario'].hasError('max')">
											No puede sobrepasarse de los 12 dígitos
										</span>
									</div>
								</div>
								<div class="form-group add_bottom_30 add_top_20">
										<label>Sube tu foto de perfil<br><small>(Archivos aceptados: .png, .jpeg - Máximo tamaño : 3MB)</small></label>
										<div class="fileupload">
											<input type="file" name="fileupload" accept="image/png,image/jpeg"
                                            formControlName="imagenUsuario"
										    (change)="seleccionarFotoPerfil($event)">
										</div>
								</div>
								
								<div class="text-center">
	                                    <div class="form-group terms">
	                                        <label class="container_check">Por favor acepta nuestros <a href="#" data-toggle="modal" data-target="#terms-txt">Términos y condiciones</a> antes de Registrarte
	                                            <input formControlName="checkear" type="checkbox" name="terms" value="Yes" class="required" required>
	                                            <span class="checkmark"></span>
	                                        </label>
	                                    </div>
	                            </div>																
	                        </div>
	                        <!-- /step last-->
							<p style="font-size: 10px; color: red;">{{message}}</p>	
	                    </div>
	                    <!-- Inicio Botones de navegación -->
	                    <div id="bottom-wizard">
	                        <button type="button" name="backward" class="backward">Retroceder</button>
	                        <button type="button" name="forward" class="forward">Siguiente</button>
	                        <button type="submit"  name="process" class="submit"
                            (click)="LoadPage()">Enviar</button>
	                    </div>
	                    <!-- Botones de navegación -->
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	<!-- Modal de terminos y condiciones -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Términos y condiciones</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-justify">Al registrarse en Kaizen Talent usted <strong>acepta</strong> de forma explícita que Kaizen Talent, pueda administrar sus datos, así como almacenarlos en una base de datos.</p>
					<p class="text-justify">Kaizen Talent jamás venderá sus datos a terceros o intermmediarios para que puedan hacer uso de ellos.</p>
					<p class="text-justify">Kaizen Talent se reserva el derecho de manejar su información con fines explicitamente laborales, los cuales permitirán mostrarle mejores ofertas laborales.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin Modal-->

</body>
</html>