
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modifica tu contraseña - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />
    
        <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />
    
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>
    
    <div class="back-to-home rounded d-none d-sm-block">
        <a href="index.html" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
    </div>

    <!-- Inicio del contenido -->
    <section class="vh-100" >

        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="login_page bg-white shadow rounded p-4">
                                <div class="text-center">
                                    <h4 class="mb-4">Modifica tu Contraseña</h4>  
                                </div>
                                <form class="login-form" [formGroup]="passwordform" (ngSubmit)="EnviarLinkalEmail()" >
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="text-muted">Por favor ingresa tu correo electrónico, recibirás un enlace para cambiar tu contraseña.</p>
                                            <div class="form-group position-relative">
                                                <label>Correo electrónico <span class="text-danger">*</span></label>
                                                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" formControlName="emailusuario" name="email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary w-100">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- Fin del contenido-->

    
</body>
</html>